{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Generate a Password!{% endblock %}</h1>
  <a href="{{ url_for('menu.home') }}">Go Back</a>
{% endblock %}

{% block page_content %}
  <head>
    <script src="{{ url_for('static', filename='Scripts/generate_output.js')}}"></script>
    <script src="{{ url_for('static', filename='Scripts/copy.js')}}"></script>
    <script src="{{ url_for('static', filename='Scripts/show.js')}}"></script>
  </head>
  <br>
  <body>  
    <form method = "post" id="form" data-defaultlocation="{{ url_for('menu.generate') }}">
      <p id="txt">{{ txt }}</p>
      <input type="text" id="here" value="{{ password }}" readonly>
      <input id="gen" name="gen" type="submit" value="{{ gen_btn }}">
      <input id="box" type="checkbox" name="excluded">
      <label id="box_label" for="box"><i>Exclude Special Characters</i></label>
      <input id="copy" type="button" value="Copy" style="display: none;">
    </form>
  </body>
  <br>
  <form method="post" style="display: none;" id="optional">
    <label for="website">Website </label>
    <input name="website" id="website" value="{{ request.form['website'] }}"required>
    <label for="email">For Who? </label>
    <input name="email" id="email" value="{{ request.form['email'] }}"required>
    <label for="password">Password </label>
    <input type="password" name="password" id="password" value="{{ password }}" required>
    <input type="submit" value="Add">
  </form>

{% endblock %}