{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome {{g.user[1]}} {% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('menu.add') }}">Add Password</a>
    <a class="action" href="{{ url_for('menu.generate') }}">Generate Password</a>
  {% endif %}
{% endblock %}

{% block page_content %}
  <head>
    <script src="{{ url_for('static', filename='copy.js') }}"></script>
  </head>
  <h1>
    <div>
      <div class="about">Your Passwords</div>
    </div>
  </h1>
  {% if table == "None" %}
    <i><p>you have not added any passwords</p></i>
  {% else %}
    <table>
      <tr>
        <th>Website</th>
        <th>Account</th>
        <th>Password</th>
        <th>Copy</th>
      </tr>
    {% for row in table %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td><input type="text" id="here" value="{{ row[2] }}" readonly></td>
      <td><input type="button" value="Copy" onclick="copy()"></td>
    </tr>
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
  {% endif %}  
{% endblock %}