body {
    font-family: 'Inter';
    background-color: #2a3a4b;
    color: #d5dee5;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    padding: 1em;
    background-color: #f2e7cf;
    a { 
        width:30%;
        img{

            width: 5em;
            height: 5em;
        }
    }
}

header h1, h2 {
    margin: 0;
    color: #e08a3c;
}

nav ul {
    position: absolute;
    
    z-index: 999;
    top: 0;
    right: 2%;
    width: fit-content;
    list-style-type: none;
    padding: 0;

    li {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #2a3a4b;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        div {
            text-align: center;
        }
        a {
            width: fit-content;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.password-analyse {
    background-color: #39424e;
    padding: 0.5em;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

table {
    font-size: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #2a3a4b;
    padding: 15px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid black;
}

td, th {
    align-items: center;
    border: 2px solid black;
    text-align: center;
    padding: 2px;
}

td{
    background-color: #f2e7cf;
    color:#2a3a4b;
}

.strong, .Yes{
    color: #37b343;
    font-weight: bolder;
}

.moderate {
    color: #e08a3c;
    font-weight: bold;
}

.weak, .No{
    color: #e03c3c;
    font-weight: bold;
}

th {
    background-color: #d5dee5;
    color: #2a3a4b;
}

input[type="submit"], input[type="text"]{
    text-align: center;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    
}

input[type="submit"]{
    background-color: #e03c3c;
    color: white;
    padding: 1em 0.25em;
    width: 85%;
}

input[type="text"]{
    background-color: #e08a3c;
    color: #2a3a4b;
    padding: 1em 0.25em;
    width: 80%
}

form {
    text-align: center;
}

.wrap{
    font-size: 1rem;
}