body {
    font-family: 'Inter';
    background-color: #2a3a4b;
    color: #d5dee5;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    padding: 1em;
    background-color: #f2e7cf;
    a { 
        width:30%;
        img{

            width: 5em;
            height: 5em;
        }
    }
}

header h1 {
    margin: 0;
    color: #e08a3c;
}

nav ul {
    position: absolute;
    
    z-index: 999;
    top: 0;
    right: 2%;
    width: fit-content;
    list-style-type: none;
    padding: 0;

    li {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #2a3a4b;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        div {
            text-align: center;
        }
        a {
            width: fit-content;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: #39424e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
    margin-top: 0;
    color: #e08a3c;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
}

form {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 8px;
}

label {
    line-height: 1.6;
}