body {
    font-family: Arial, sans-serif;
    background-color: #2a3a4b;
    color: #d5dee5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #f2e7cf;
    a { 
        width:30%;
        img{

            width: 5em;
            height: 5em;
        }
    }
    
}

nav ul {
    position: absolute;
    padding: 0;
    list-style-type: none;
    z-index: 999;
    top: 0;
    right: 2%;
    width: fit-content;
    li {
        div {
            text-align: center;
        }
        a {
            width: max-content;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-generator {
    background-color: #39424e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.password-generator h2 {
    margin-top: 0;
    color: #e08a3c;
}

.generated-password {
    font-size: 24px;
    margin: 20px 0;
    padding: 10px;
    background-color: #2a3a4b;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.controls {
    margin-top: 20px;
}

.controls label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    .info{
        position: relative;
    }
    .info .info-text{
        visibility: hidden;
        width: 250px;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        border:1px solid black;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        background-color:white;
        opacity: 0;
        transition: opacity 0.1s;
        font-size: small;
    }
    .info:hover .info-text{
        visibility: visible;
        opacity: 1;
    }
}

.controls input[type="checkbox"] {
    margin-right: 10px;
}

.buttons {
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
}

input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 16px;
    cursor: pointer;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #d5dee5;
    border-radius: 5px;
    margin-bottom: 20px;
}


input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    color: white;
}

.form-container {
    background-color: #39424e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
    margin-top: 0;
    color: #e08a3c;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

footer {
    background-color: #39424e;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a3a4b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}