body {
    font-family: 'Inter';
    background-color: #2a3a4b;
    color: #d5dee5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #f2e7cf;
    a{ 
        width:30%;
        left: 0.5%;
        img{

            width: 5em;
            height: 5em;
        }
    }
    
}


header h1 {
    font-size: 120%;
    color: #e08a3c;
    text-align: center;
    width: 37%;
}

nav ul {
    position: absolute;
    
    z-index: 999;
    top: 0;
    right: 2.5%;
    width: fit-content;
    li {
        div {
            text-align: center;
        }
        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.buttons {
    align-self: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
}

.password-list {
    background-color: #39424e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.password-list h2 {
    margin-top: 0;
    color: #e08a3c;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a3a4b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.password-info {
    flex-grow: 1;
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: #e03c3c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.copy-button {
    padding: 5px 10px;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
}

.copy-button:hover {
    color: white;
}