body {
    font-family: 'Inter';
    background-color: #2a3a4b;
    color: #d5dee5;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    padding: 1em;
    background-color: #f2e7cf;
}

header h1 {
    margin: 0;
    color: #e08a3c;
}

nav ul {
    position: fixed;
    
    z-index: 999;
    top: 0;
    right: 2%;
    width: 8%;
    
    li {
        margin: 1em 0;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4rem;

            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
}

.password-list {
    background-color: #39424e;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.password-list h2 {
    margin-top: 0;
    color: #e08a3c;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a3a4b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.password-info {
    flex-grow: 1;
}

.copy-button {
    padding: 5px 10px;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
}

.copy-button:hover {
    color: white;
}

footer {
    background-color: #39424e;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}