* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-color: #2a3a4b;
    color: #d5dee5;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    padding: 1em;
    background-color: #f2e7cf;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: #39424e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
    margin-top: 0;
    color: #e08a3c;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #d5dee5;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #e08a3c;
    border: none;
    border-radius: 5px;
    color: #2a3a4b;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: white;
}