* {
    box-sizing: border-box;
}

.hide-mobile {
    display: none;
}

body {
    background-color: #2a3a4b;
    margin: 0;
    font-family: 'Inter';
}

.wrap {
    margin: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f2e7cf;
    width: 100%;
    border-radius: 10px;
}

.logo {
    height: 60px;
    width: 130px;
}

nav ul {
    background-color: white;
    position: fixed;
    border-radius: 10px;
    z-index: 999;
    top: 0;
    height: fit-content;
    width: 20%;
    margin-right: 10px;
    list-style: none;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    li {
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        a {
            color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 15px;

            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }
}

.header-right{
    padding-right: 2.5%;
}

.menu-open{
    img {
        padding-top: 50%;        
    }
}

.open {
    border-width: 2px;
    transform: translateX(0%);
    border-radius: 10px;
    height: fit-content;
    .icon{
        margin-top: 15%;
        margin-bottom: 10%;
    }
}

h1, p {
    text-align: center;
}

h1 {
    margin-top: 3em;
    color: white;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
}

.primary-cta {
    background-color: #FFA800;
    padding: 1em;
    display: block;
    border-radius: 1em;
    margin-top: 3em;
    
    text-align: center;
    text-decoration: none;
    
    font-size: 1.5rem;
    font-weight: bold;
    color: black;

    &:hover {
        color: white;
    }
}

.illustration {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 3em;

    img {
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid #e08a3c;
        border-radius: 10px;
    }

    div {
        position: absolute;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 798px){
    .header-left {
        img {
            transform: scale(75%) translateX(-20%);
            transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
    .header-right {
        padding-right: 0%;
        margin-right: 5%;
        ul {
            border-style: solid;
            padding-left: 1.5%;
            padding-right: 7.5%;

        }
        li {
            margin-top: 0%;
            margin-bottom: 10%;
            margin-right: 20%;
        }
    }
}

@media (min-width: 798px) {
    .wrap {
        margin: 2em 2em;
    }

    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        .divider {
            height: 50px;
            width: 1px;
            border-right: 1px solid grey;
        }

        .home {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;

            &:hover {
                color: #FFA800;
                text-decoration: underline;
            }
        }
    }

    nav ul {
        position: unset;
        background: none;
        display: flex;
        width: 2em;
        gap: 2em;
        width: auto;
        height: auto;
        
        transform: translateX(0%);

        li a {
            font-size: 1.5em;
        }
    }
}

@media (min-width: 998px) {
    h1, p {
        text-align: left;
    }

    h1 {
        font-size: 1.9rem;
    }

    h1 img {
        margin: 0;
    }

    main {
        width: 50%;
    }

    .illustration {
        margin-top: 4em;

        .inner-circle {
            width: 450px;
            height: 450px;
        }

        .outer-circle {
            width: 660px;
            height: 660px;
        }
    }

    .illustration-container {
        position: absolute;
        z-index: -1;
        width: 50%;
        top: 20%;
        right: 4%;
    }
}

@media (min-width: 1200px) {
    .wrap {
        margin: 2em 2em;
        padding: 0 2em;
        max-width: 1200px;
    }



    .primary-cta {
        display: inline-block;
        width: auto;
        padding: 1em 2em;
    }
    
    .illustration {
        position: relative;

        img {
            max-width: 400px;
            left: 50%;
        }
    }
}