{% extends 'base.html' %}

{% block page_content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to Lock&Key</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/register.css') }}">
  <script src="{{ url_for('static', filename='Scripts/register_actions.js') }}"></script>
</head>

<body>
  <header>
      <a href="{{url_for('start.start')}}">
        <img src="{{ url_for('static', filename='/Image_Files/logo.svg') }}" alt="Lock&Key Logo">
      </a>
  </header>

  <main>
      <section class="form-container">
          <h2>Get Your Vault</h2>
          <form action="#" method="post">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
              <h3 id="msg" style="display: block;">Password Requirements not met</h3>
              <div id="requirements">
                <b>Password must contain the following:</b>
                
                <li id="letter" class="req">A <b>lowercase</b> letter <span id="req-low" class="checklist">&#10060;</span></li>
                <li id="capital" class="req">An <b>uppercase</b> letter <span id="req-upper" class="checklist">&#10060;</span></li>
                <li id="number" class="req">A <b>number</b> <span id="req-num" class="checklist">&#10060;</span></li>
                <li id="length" class="req">Minimum <b>10 characters</b> <span id="req-len" class="checklist">&#10060;</span></li>
        
              </div>
              <br>
          </form>
          
      </section>
  </main>
</body>
{% endblock %}