<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>

<section class="content">
  {% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="btn-close" onclick="this.parentElement.style.display = 'none'">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block header %}{% endblock %}

    {% block page_content %}{% endblock %}
  </div>
  {% endblock %}
</section>