<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<nav>
  <h1>Lock&Key</h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}

  <div class="container">
    {% for message in get_flashed_messages() %}
    <br>
    <div class="alert alert-warning">
        <button type="button" class="btn-close" onclick="this.parentElement.style.display = 'none'">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
  </div>
  {% endblock %}
  
</section>